@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800&display=swap');


* {
    font-family: 'Nunito Sans' !important;
    font-size: 16px,; /* general fontsize */
}

ul li{
    display: inline-block;
    margin-left: 65px;
    font-size: 20px;
}

header{
    padding: 71px 0 95px 0;
    white-space: nowrap;

}

#list1 li a {
    color: #bab8b8;
}

.travelh1{ 
    font-size: 75px;
    letter-spacing: 3px;
    line-height: 80px;
    color: #091e40;
    font-weight: 800;
    text-align: left;
    padding-bottom: 77px;
    margin: 0;    
}
#h1Amazing {
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 62px;
    color: #091e40;
    font-weight: 600;
    text-align: left;
}


.travelh1 + p{
    padding-bottom: 100px;
    margin: 0;
}

#list1 li a:hover { 
    color: #3984f3;
    text-decoration: none;

}

#logo{
    height: 50px;
    width: 178px;
    
}


#signInButton{
    border: 3px solid  #3984f3;
    color: #3984f3;
    width: 151px;
    height: 55px;
    background-color: #fff;
}


#signInButton:hover{
    background-color: #3984f3 ;
    color: #fff;
}

html, body{
    height: 1080px;
    width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;  
    
}


#signUpNowButton, #exproleButton{
    border: 2px solid #3984f3;
    color: #fff;
    background-color: #3984f3;
    height: 3.5625rem;
    width: 12.625rem;
    font-size: 20px;
   
}

#signUpNowButton:hover{
    border: 2px solid #3984f3;
    color: #3984f3;
    background-color: #fff;
   
   
}

p{
font-size: 22px;
letter-spacing: 0px;
line-height: 35px;
color: #81858e;
font-weight: 400;
}

#section1 {
position: relative;
bottom: 57px;
}

.active a {
    color: #3984f3 !important;
}
#paddingSection{
padding-bottom: 155px;
}

/* .articleImg img {
width: 371px;
height: 499px;
padding: 10px;
}
.articleImg2 {
padding: 20px 50px;
} */

.square{
    width: 371px; 
    height: 499px;
    border-color: #666 #1c87c9;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 30px;
    overflow: hidden;
    padding: 0;
    z-index: 1;
    }

    .square > img{
        width: 371px; 
    height: 499px;
    z-index: -1;
    }