@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800&display=swap');


* {
    font-family: 'Nunito Sans' !important;
    font-size: 16px,; /* general fontsize */
}

ul li{
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;


}
header{
    padding: 60px 0 60px 0;
    white-space: nowrap;
}

.list1 li a {
    color: #bab8b8;
}

.travelh1{ 
    font-size: 75px;
    letter-spacing: 3px;
    line-height: 80px;
    color: #091e40;
    font-weight: 800;
    text-align: left;
    padding-bottom: 75px;

    
}
.travelh1 + p{
    padding-bottom: 100px;
}

.list1 li a:hover { 
    color: #3984f3;
    text-decoration: none;
}

#logo{
    height: 48px;
    width: 178px;
}


#signInButton{
    border: 2px solid  #3984f3;
    color: #3984f3;
    background-color: #fff;
    width: 150px;
    height: 57px;
}


#signInButton:hover{
    background-color: #3984f3 ;
    color: #fff;
}

html, body{
    height: 1080px;
    width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;  
}


#backgroundImg{
    width: 1004px;
    height: 1062px;
 } 

#signUpNowButton{
    border: 2px solid #3984f3;
    color: #fff;
    background-color: #3984f3;
    height: 3.5625rem;
    width: 12.625rem;
   
}

#signUpNowButton:hover{
    border: 2px solid #3984f3;
    color: #3984f3;
    background-color: #fff;
   
   
}

p{
font-size: 22px;
letter-spacing: 0px;
line-height: 35px;
color: #81858e;
}