

body {
    background-image: url("../img/weather-backgroud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
}

#container {
max-width: 100%;

}
#logo{
    height: 40px;
}

#button{
    border: 2px solid;
    border-color: #fff;
    color: #fff;
    background-color: #007bff;
    padding: 5px 25px 5px 25px;
}

#button:hover{
    background-color: #fff ;
    color: #007bff;
}

table, th, td {
    border: 1px solid black;
    text-shadow: 2px 2px black;
  }

/* it hides all the other siblings but the first one */
.page + .page{ 
display: none;
color: black !important;
text-shadow: none !important;
}

.table{
    width: 300px;
}

.table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border: black;
    border: none;
    color: white;
}
.table thead th {
    vertical-align: bottom;
    border: black;
    border: none;
    color: white;
}

#temperatureToday{
    text-align: center;
    padding-left: 15%;
    padding-right: 10%;
   
}

#weatherCity {
    text-align: center;
    margin: 2rem 0 4rem;
}

#temperatureWeek{
    
    padding-left: 10%;
    /* transform: rotate(90deg)  it rotates anything good to know!*/
}

.tableText{
    color: white;
    font-size: 2em;
    
}
h2{
    text-align: center !important;
}
.tableText2{
    color: black !important;
    font-size: 1.2em;
    text-align: center;
}

#hourlyResult{
    text-align: center;
    position: relative;
    right: 5%;
    color: black !important;
}
#hourlyWeatherCity{
    
    text-align: center;
    margin-bottom: 2.5rem;
}

#navbarSupportedContent{
color: whitesmoke;
text-shadow: none !important;
}

a {
    color: black;
}
